RewriteEngine On

RewriteRule ^index.php/(.*)$ /$1 [R=302,L]
AddDefaultCharset utf-8
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|files|js|robots\.txt)
RewriteRule ^(.*)$ index.php?/$1 [L]